<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>soy un h4</h4>

    <h1>El título de nuestro documento</h1>

    <h2>Un subtítulo cualquiera</h2>

    <img src="/images/Transformers01.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dignissimos natus vitae quae ab praesentium aliquid similique perferendis, nesciunt officia totam? Odit culpa distinctio vitae et nulla repellendus accusantium molestiae.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, a, expedita perferendis cumque fugiat nobis dolorum deleniti dolore, assumenda qui facere aliquid pariatur doloribus nihil inventore. Totam error molestiae quae.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Enlace a Google</a>
</body>
</html>